{
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "singleQuote": true,
  "semi": true,
  "tabWidth": 4,
  "bracketSameLine": true,
  "proseWrap": "always",
  "printWidth": 120,
  "bracketSpacing": true,
  "singleAttributePerLine": false
}
