@font-face {
    font-family: 'Aagaz';
    src: url('./Aagaz.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ruina' ;
    src: url('./ruina-1.ttf');
}